erbody{
    color: brown;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header img{
    width: 150px;
    height: 150x;
    border-radius: 35%;
    border: 5px solid pink;
}
.center{
    text-align: center;
}
footer img{
    width: 40px;
    padding: 35px;
}
footer{
    display: flex;
    justify-content: center;
}
.container{
    padding: 5dvh;
    height: 100dvh;
}
p{
    text-align: center;
    background-color: pink;
    border-radius:4%;
    height: 200px;
    width: 580px;
}
.classemain{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    height:0px ;
}
